{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notification</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notification.id }}</td>
            </tr>
            <tr>
                <th>Entitytype</th>
                <td>{{ notification.entityType }}</td>
            </tr>
            <tr>
                <th>Identitytype</th>
                <td>{{ notification.idEntityType }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ notification.message }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if notification.createdAt %}{{ notification.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Specification</th>
                <td>{{ notification.specification }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notification_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('notification_edit', { 'id': notification.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
